@{
    ViewBag.Title = "Work Page";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Work Page</title>
    </head>

    <body>
        <div ="work-content">
            <h2 align="center">Samples Of My Work</h2>
            <br />
            <h3 >Here are 4 games</h3>
            <div class="img" id="GuessThatNumber">
                <div class="image active"><img src="@Url.Content("~/Content/images/GuessThatNumber1.png")/>" alt="Guess that number intro"  width="250" height="180" /></div>
                <div class="image hide"><img src="@Url.Content("~/Content/images/GuessThatNumber2.png")/>" alt="Guess that number 2"  width="250" height="180" /></div>
                <div class="image hide"><img src="@Url.Content("~/Content/images/GuessThatNumber3.png")/>" alt="Guess that number 3"  width="250" height="180" /></div>
                <div class="image hide"><img src="@Url.Content("~/Content/images/GuessThatNumber4.png")/>" alt="Guess that number 4"  width="250" height="180" /></div>
                <p><a href="@Url.Action("GuessThatNumber","Work")"></a></p>

            </div>
            <div class="img" id="Hangman">
                <div class="image active"><img src="@Url.Content("~/Content/images/Hangman1.png")/></div>
                <img src="http://www.freegreatimages.com/wp-content/uploads/2014/06/life-quotes-facebook-covers-be-the-change-3.jpg" alt="Positive Photo 2" width="250" height="180"/>
                <p>Work Sample 2</p>
            </div>
            <div class="img">
                <img src="http://justhappyquotes.com/wp-content/uploads/2013/10/lillian-vernon_quotes_power-of-positive-thinking.jpeg" alt="Positive Photo 3"  width="250" height="180"/>
                <p>Work Sample 3</p>
            </div>
            <div class="img">
                <img src="http://partylive911.com/wp-content/uploads/2014/05/be-awesome.jpg?w=505" alt="Positive Photo 4" width="250" height="180"/>
                <p>Work Sample 4</p>
            </div>
        </div>
    </body>
</html>
