@{
    ViewBag.Title = "Work Page";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Work Page</title>
    </head>

    <body>
        <div ="work-content">
            <h2 align="center">Samples Of My Work</h2>
            <br />
      @*      <div class="img" id="GuessThatNumber">
                <div class="image active"><img src="@Url.Content("~/Content/images/GuessThatNumber1.png")" alt="Guess that number intro"  width="450" height="324" /></div>
                <div class="image active"><img src="@Url.Content("~/Content/images/GuessThatNumber2.png")" alt="Guess that number 2"  width="450" height="324" /></div>
                <div class="image active"><img src="@Url.Content("~/Content/images/GuessThatNumber3.png")" alt="Guess that number 3"  width="450" height="324" /></div>
                <div class="image active"><img src="@Url.Content("~/Content/images/GuessThatNumber4.png")" alt="Guess that number 4"  width="450" height="324" /></div>
                <p><a href="@Url.Action("GuessThatNumber","Work")">Guess That Number</a></p>
                </div>*@

            <div class="img" id="Hangman">
                <div class="image active"><img src="@Url.Content("~/Content/images/Hangman1.png")" alt="Hangman intro" width="450" height="324" /></div>
                 <div class="image active"><img src="@Url.Content("~/Content/images/Hangman2.png")" alt="Hangman 2" width="450" height="324" /></div>
                 <div class="image active"><img src="@Url.Content("~/Content/images/Hangman3.png")" alt="Hangman 3" width="450" height="324" /></div>
                 <div class="image active"><img src="@Url.Content("~/Content/images/Hangman4.png")" alt="Hangman 4" width="450" height="324" /></div>
                <p><a href="@Url.Action("Hangman", "Work")">Hangman</a></p>
                </div>

            </div>
    
    </body>
</html>
